<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><h2><a href="/">Home</a></h2></li>
  </ul>
</nav>
<div class="container">
  <div class="jumbotron">
    <h1>Epicodus Music Forum</h1>
  </div>
  {{outlet}}
</div>
  <center><p>Music Forum - create 1/13/2017</p></center>
